.button {
  --bg-color: var(--hu-color--primary);
  --color: var(--hu-color--primary--contrast);
  --font-size: var(--hu-font-size--m);
  background-color: var(--bg-color);
  border: none;
  border-radius: 4px;
  color: var(--color);
  cursor: pointer;
  padding: 0.25em 1em;
  font-size: var(--font-size);
  text-transform: uppercase;
  
  &:is(:hover, :focus, :focus-within) {
    --bg-color: var(--hu-color--primary--darker);
  }
  &:disabled {
    --bg-color: var(--hu-color--primary--disabled);
    cursor: not-allowed;
    opacity: 0.6;
  }

  // modifiers
  &--s {
    @extend .button;
    --font-size: var(--hu-font-size--s);
  }
  &--m {
    @extend .button;
  }
  &--l {
    @extend .button;
    --font-size: var(--hu-font-size--l);
  }
  &--xl {
    @extend .button;
    --font-size: var(--hu-font-size--xl);
  }
  &--primary {
    @extend .button;
    &--s {
      @extend .button--primary;
      @extend .button--s;
    }
    &--m {
      @extend .button--primary;
    }
    &--l {
      @extend .button--primary;
      @extend .button--l;
    }
    &--xl {
      @extend .button--primary;
      @extend .button--xl;
    }
  }
  &--secondary {
    @extend .button;
    --bg-color: var(--hu-color--secondary);
    --color: var(--hu-color--secondary--contrast);

    &:is(:hover, :focus, :focus-within) {
      --bg-color: var(--hu-color--secondary--darker);
    }
    &:disabled {
      --bg-color: var(--hu-color--secondary--disabled);
    }

    &--s {
      @extend .button--secondary;
      @extend .button--s;
    }
    &--m {
      @extend .button--secondary;
    }
    &--l {
      @extend .button--secondary;
      @extend .button--l;
    }
    &--xl {
      @extend .button--secondary;
      @extend .button--xl;
    }
  }
}
