.logo {
  --color: var(--hup-color--white, #ffffff);
  --logo-size: 5em;
  --text-size: 2em;
  --flex-flow: column;
  align-items: center;
  color: var(--color);
  display: flex;
  fill: var(--color);
  flex-flow: var(--flex-flow);
  font-size: 1rem;
  gap: 1em;
  justify-content: center;

  &__graphics {
    height: var(--logo-size);
    width: var(--logo-size);
  }

  em {
    font-family: 'Futura', sans-serif;
    font-size: var(--text-size);
    line-height: 1.2em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
  }

  &[data-size="m"] {
    --logo-size: 3em;
    --text-size: 1.25em;
    --flex-flow: row;
    gap: 0.5em;

    em {
      text-align: left;
      width: 6em;
    }
  }
}

