.section {
  background-color: rgb(var(--hup-color--white));
  min-height: 37.5rem;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  justify-content: space-between;
  padding: 3.875rem 5rem;

  article {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;
    justify-content: center;
    max-width: 50rem;
    text-align: center;

    p {
      font-size: 1.25rem;
      white-space: preline;

    span {
      background-color: rgb(var(--hup-color--black));
      border-radius: 0.25rem;
      color: rgb(var(--hup-color--white));
      font-style: italic;
      padding: 0 0.35em;
      white-space: nowrap;
    }
    }
  }
}

.gallery {
  display: grid;
  gap: 0.25rem;
  grid-auto-flow: dense; // to fill in gaps caused by active image-list
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0;
  width: 100%;
}

.filters {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  justify-content: center;
  max-width: 100%;
  padding: 0.25rem;
  transition: all 0.2s ease-in-out;

  li {
    background-color: rgb(var(--hup-color--black));
    border-radius: 0.25em;
    color: rgb(var(--hup-color--white));
    cursor: pointer;
    padding: 0 0.5em;
    font-size: 1.5rem;
  }
}
