.section {
  background-color: rgb(var(--hup-color--white));
  min-height: 37.5rem;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  justify-content: space-between;
  padding: 3.875rem 5rem;
}

.gallery {
  border: 1px dashed;
  height: 600px;
  width: 100%;
}