.card {
  align-items: center;
  background-color: rgba(var(--hup-color--whitesmoke));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  height: 12rem;
  justify-content: center;
  padding: 1rem;
  position: relative;

  &:nth-last-child(1) {
    grid-column: auto / span -1;
  }

  &[aria-expanded="true"]::before {
    background-color: rgb(var(--hup-color--pink));
    opacity: 1;
  }

  &>* {
    z-index: 1;
  }

  &::before {
    opacity: 0;
    background-color: rgb(var(--hup-color--green));
    border-radius: 0.25rem;
    content: '';
    height: 100%;
    inset: 0;
    mix-blend-mode: multiply;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  &__title {
    background-color: rgb(var(--hup-color--black));
    border-radius: 0.25rem;
    color: rgb(var(--hup-color--white));
    font-size: 1.875rem;
    font-style: italic;
    max-width: 100%;
    overflow: hidden;
    overflow: hidden;
    padding: 0 0.35em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:is(:hover, :focus, :focus-visible, :focus-within) &__title {
    background-color: rgb(var(--hup-color--white));
    color: rgb(var(--hup-color--black));
  }

  &:is(:hover, :focus, :focus-visible, :focus-within) {
    &::before {
      opacity: 1;
    }

    .tags {
      height: 4rem;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.tags {
  align-items: flex-start;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
  height: 2rem;
  justify-content: flex-end;
  max-width: 100%;
  padding: 0.25rem;
  position: absolute;
  right: 0;
  transition: all 0.2s ease-in-out;

  li {
    background-color: rgb(var(--hup-color--black));
    border-radius: 0.25em;
    color: rgb(var(--hup-color--white));
    padding: 0 0.5em;
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 100;
  }
}

.imageScroll {
  background-color: rgb(var(--hup-color--black));
  grid-column: 1 / -1;
  // min-height: 20rem;
  border-radius: 0.25rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;

  .main {
    overflow-y: hidden;
    overflow: -moz-scrollbars-horizontal;
    overflow-x: scroll;
    padding-bottom: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    width: 100%;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      background-color: rgba(var(--hup-color--white), 0.15);
      border-radius: 0.25rem;
      height: 1rem;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: rgb(var(--hup-color--white));
      border-radius: 0.25rem;
    }
  }
}

.header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  &__left {
    align-items: flex-end;
    display: flex;
    flex-flow: row wrap;
    
    &-title{
      color: rgb(var(--hup-color--white));
      font-size: 1.875rem;
      font-style: italic;
    }

    &-tags {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      gap: 0.25rem;
      height: 2rem;
      justify-content: flex-start;
      max-width: 100%;
      padding: 0.25rem;

    }

    &-tag {
      background-color: rgb(var(--hup-color--black));
      border-radius: 0.25em;
      color: rgb(var(--hup-color--white));
      padding: 0 0.5em;
      font-size: 0.875rem;
      font-style: italic;
      font-weight: 100;
    }
  }

  &__controls {
    align-self: flex-start;
    display: flex;
    gap: 0.5rem;
    flex-flow: row wrap;

    button {
      background: none;
      border-radius: 0.25rem;
      border: none;
      cursor: pointer;
      height: 2.5rem;
      position: relative;
      transition: all 0.2s ease-in-out;
      width: 2.5rem;

      & > svg {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        fill: rgb(var(--hup-color--white));
        transition: all 0.2s ease-in-out;
      }

      &:is(:hover, :focus, :focus-within, :focus-visible) {
        background: rgb(var(--hup-color--white));

        & > svg {
          fill: rgb(var(--hup-color--black));
          transform: rotate(90deg);
        }
      }
    }
  }
}

.thumbnail {
  border-radius: 0.5rem;
  flex: 0 0 17rem;
  height: 11.3125rem;
  overflow: hidden;
  position: relative;
  width: 17rem;

  img {
    background-color: rgba(var(--hup-color--white), 0.15);
    border: none;
    outline: none;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__overlay {
    align-items: center;
    background-color: rgba(var(--hup-color--black), 0.75);
    display: flex;
    inset: 0 0 0 0;
    justify-content: center;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    svg {
      fill: rgb(var(--hup-color--white));
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &:is(:hover, :focus, :focus-within, :focus-visible) &__overlay {
    opacity: 1;
  }
}
