.heading {
  --color: rgb(var(--hup-color--black));
  --font-size: 1.875rem;
  background: none;
  border-radius: 0.266em;
  border: 0.25rem solid var(--color);
  color: var(--color);
  font-family: 'Futura', sans-serif;
  font-weight: 300;
  font-size: var(--font-size);
  min-height: 2em;
  min-width: 10em;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-light="true"] {
    --color: rgb(var(--hup-color--white));
  }
}
