:root {
  // COLORS
  // from XD doc
  --hup-color--black: #333333;
  --hup-color--white: #FFFFFF;
  --hup-color--green: #4D9973;
  --hup-color--purple: #7F3357;
  --hup-color--pink: #B47C70;
  --hup-color--babypink: #E8A7A1;
  --hup-color--pink-bright: #D9629A;
  --hup-color--whitesmoke: #F5F5F5;
  --hup-color--gold: #B5A268;
  --hup-color--copper: #B38359;
  --hup-color--blue: #649BAD;
  --hup-color--butter: #FFFFDD;
  --hup-color--avocado: #DDEEAA;
  --hup-color--greysmoke: #C6C5B9;

  // FONTS
  --hu-font-size--s: 0.8em;
  --hu-font-size--m: 1em;
  --hu-font-size--l: 1.2em;
  --hu-font-size--xl: 1.4em;

  font-size: 16px;
}

#app {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  width: 100vw;
}

// @import 'colors/colors';