:root {
  // COLORS
  // --hu-color--primary--hue: 157;
  // --hu-color--secondary--hue: 328;
  // --hu-color--black--hue: 328;
  // --hu-color--white--hue: 328;

  --hu-color--primary: hsl(157, 50%, 50%);
  --hu-color--primary--darker: hsl(157, 50%, 45%);
  --hu-color--primary--lighter: hsl(157, 50%, 55%);
  --hu-color--primary--disabled: hsl(157, 5%, 50%);
  --hu-color--primary--contrast: hsl(157, 50%, 10%);

  --hu-color--secondary: hsl(328, 50%, 50%);
  --hu-color--secondary--darker: hsl(328, 50%, 45%);
  --hu-color--secondary--lighter: hsl(328, 50%, 55%);
  --hu-color--secondary--disabled: hsl(328, 5%, 50%);
  --hu-color--secondary--contrast: hsl(328, 50%, 10%);

  --hu-color--black: hsl(328, 15%, 15%);
  --hu-color--black--darker: hsl(328, 15%, 0%);
  --hu-color--black--lighter: hsl(328, 15%, 25%);
  --hu-color--black--disabled: hsl(328, 5%, 50%);

  --hu-color--white: hsl(328, 15%, 85%);
  --hu-color--white--darker: hsl(328, 15%, 70%);
  --hu-color--white--lighter: hsl(328, 15%, 95%);
  --hu-color--white--disabled: hsl(328, 5%, 60%);

  --hu-color--black--contrast: var(--hu-color--white);
  --hu-color--white--contrast: var(--hu-color--black);

  // from XD doc
  --hup-color--black: #333333;
  --hup-color--white: #FFFFFF;
  --hup-color--green: #4D9973;
  --hup-color--purple: #7F3357;
  --hup-color--pink: #B47C70;
  --hup-color--babypink: #E8A7A1;
  --hup-color--pink-bright: #D9629A;
  --hup-color--whitesmoke: #F5F5F5;
  --hup-color--gold: #B5A268;
  --hup-color--copper: #B38359;
  --hup-color--blue: #649BAD;
  --hup-color--butter: #FFFFDD;
  --hup-color--avocado: #DDEEAA;
  --hup-color--greysmoke: #C6C5B9;

  // FONTS
  --hu-font-size--s: 0.8em;
  --hu-font-size--m: 1em;
  --hu-font-size--l: 1.2em;
  --hu-font-size--xl: 1.4em;
}

// @import 'colors/colors';