.section {
  align-items: center;
  background-color: rgb(var(--hup-color--green));
  display: flex;
  flex-flow: column;
  gap: 10vh;
  height: 100vh;
  justify-content: center;
  padding: 1.4rem;
  position: relative;
  width: 100vw;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--hup-color--green));
    mix-blend-mode: multiply;
  }

  &__top {
    flex-grow: 1;
    justify-content: flex-end;
    z-index: 2;
  }

  &__bottom {
    z-index: 2;
    align-items: center;
    color: rgb(var(--hup-color--white));
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    text-align: center;

    &>h1 {
      flex-grow: 0;
      font-size: 1.875rem;
      font-weight: 300;
    }

    &>h2 {
      flex-grow: 0;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 300;
      padding-bottom: 1rem;
    }

    &>div {
      flex-grow: 1;
    }
  }

  video {
    height: 100%;
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }
}

.arrow {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;

  & > span {
    background-color: rgb(var(--hup-color--white));
    border-radius: 1em;
    flex-grow: 1;
    width: 0.125rem;
  }

  & > button {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 999rem;
    color: rgb(var(--hup-color--white));
    cursor: pointer;
    height: 3rem;
    position: relative;
    width: 3rem;

    &:is(:hover, :focus, :focus-within, :focus-visible) {
      background-color: rgb(var(--hup-color--white));
      color: rgb(var(--hup-color--green));
    }

    &::before {
      border-bottom: 0.125rem solid;
      border-right: 0.125rem solid;
      content: '';
      height: 1.5rem;
      left: 0.75rem;
      position: absolute;
      top: 0.625rem;
      transform: rotate(45deg);
      width: 1.5rem;
    }
    
    &::after {
      border-bottom: 0.125rem solid;
      border-right: 0.125rem solid;
      content: '';
      height: 0.75rem;
      left: 1.125rem;
      position: absolute;
      top: 0.625rem;
      transform: rotate(45deg);
      width: 0.75rem;
    }
  }
}
