.header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  inset: 0 / auto;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.hidden {
  opacity: 0;
}
