.header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  inset: 0 / auto;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: background-color 0.2s ease-in-out;

  &--open {
    background-color: var(--hup-color--green);
  }
}

.hidden {
  opacity: 0;
}
