.section {
  background-color: rgb(var(--hup-color--whitesmoke));
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 37.5rem;
  padding: 2rem;
  padding-top: 3.875rem;
  overflow: hidden;
  gap: 2.5rem;
  position: relative;

  * {
    z-index: 1;
  }
}

.article {
  max-width: 50rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  
  p {
    font-size: 1.25rem;
    white-space: preline;
  }

  .p--large {
    font-size: 1.875rem;
  }
  .p--narrow {
    max-width: 26em;
  }
  .p--narrowest {
    max-width: 20em;
  }
  .p--accent {
    color: rgb(var(--hup-color--green));
  }

  &--grid {
    align-items: start;
    // align-self: start;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    // margin-left: 10vw;
    text-align: left;
  }
}

.cards {
  display: flex;
  gap: 2rem;
  .card {
    border: 3px solid black;
    border-radius: 9999rem;
    height: 10rem;
    width: 10rem;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    &--1 {
      &[data-variation="1"] {
        background-image: url('src/assets/about_figure_1_2.png');
      }
      &[data-variation="2"] {
        background-image: url('src/assets/about_figure_1_1.png');
      }
      &[data-variation="3"] {
        background-image: url('src/assets/about_figure_2_3.png');
      }
      &[data-variation="4"] {
        background-image: url('src/assets/logo.svg');
        background-size: 50%;
        background-position: center;
      }
    }
    &--2 {
      &[data-variation="1"] {
        background-image: url('src/assets/about_figure_2_2.png');
      }
      &[data-variation="2"] {
        background-image: url('src/assets/about_figure_2_1.png');
      }
      &[data-variation="3"] {
        display: none;
      }
      &[data-variation="4"] {
        display: none;
      }
    }
  }
}

// .card {
//   background-size: cover;
//   height: 35rem;
//   position: absolute;
//   width: 35rem;
//   z-index: 0;
//   bottom: 0;
//   transition: all 0.3s ease-in-out;
  
//   &--1{
//     background-position: bottom right;
//     background-image: url('src/assets/about_figure_1_1.png');
//     left: -100%;
//     &[data-variation="1"] {
//       left: 0;
//     }
//   }

//   &--2 {
//     background-position: bottom right;
//     width: 50rem;
//     left: -100%;
//     transform: translateX(-20%);
//     background-image: url('src/assets/about_figure_1_2.png');
//     &[data-variation="1"] {
//       background-image: url('src/assets/about_figure_2_1.png');
//       background-position: bottom left;
//       left: 100%;
//       transform: translateX(-70%);
//     }
//     &[data-variation="2"] {
//       left: 0;
//     }
//   }

//   &--3 {
//     background-position: bottom right;
//     width: 50rem;
//     left: -100%;
//     transform: translateX(-25%);
//     background-image: url('src/assets/about_figure_2_2.png');
//     &[data-variation="1"] {
//       background-position: bottom left;
//       left: 200%;
//       transform: translateX(-80%);
//     }
//     &[data-variation="2"] {
//       left: 100%;
//       transform: translateX(-80%);
//     }
//     &[data-variation="3"] {
//       left: 0;
//       transform: translateX(-25%);
//     }
//   }

//   &--4 {
//     background-position: bottom right;
//     width: 50rem;
//     height: 100%;
//     left: 100%;
//     transform: translateX(-100%);
//     background-image: url('src/assets/about_figure_2_3.png');

//     &[data-variation="1"],
//     &[data-variation="2"] {
//       background-position: bottom left;
//       left: 200%;
//       transform: translateX(-65%);
//     }
//     &[data-variation="3"] {
//       left: 100%;
//       transform: translateX(-65%);
//     }
//   }
  
//   // &[data-variation="3"] {
//   //   background-image: url('src/assets/about_figure_2_3.png');
//   // }
//   // &[data-variation="4"] {
//   //   background-image: url('src/assets/about_figure_2_3.png');
//   // }
//   // &[data-variation="2"] {
//   //   background-image: url('src/assets/about_figure_1_2.png');
//   //   inset: auto auto 0 0;
//   // }
//   // &[data-variation="3"] {
//   //   background-image: url('src/assets/about_figure_2_2.png');
//   // }
//   // &[data-variation="4"] {
//   //   opacity: 0;
//   // }
// }

