.section {
  background-color: rgb(var(--hup-color--whitesmoke));
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 37.5rem;
  padding-top: 3.875rem;
  padding-bottom: 2rem;
}