.section {
  background-color: var(--hup-color--pink);
  min-height: 43.75rem;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: 3.875rem;
  padding-bottom: 2rem;
}
